<p>
    <%= link_to 'Latest events',latest_events_path%>
</p>


<table class="table">
<% @events.each do |e| %>
  <tr>
  <td>
 	  <%= e.name %>
    </td>
    <td>
  <%#= link_to 'Show', :controller => 'events', :action => 'show', :id => event %>
  <%= link_to 'Show', event_path(e), :class => "btn btn-primary" %>
  <%= link_to 'Attendees list', event_attendees_path(e), :class => "btn btn-default"
  %>
  <%= link_to 'location', event_location_path(e), :class => "btn btn-default"
  %>  
  <%= link_to 'Get XML', event_path(e, :format => :xml), :class => "btn btn-default" %>

  <%= link_to 'Get JSON', event_path(e, :format => :json), :class => "btn btn-default" %>
  <%#= link_to 'Edit', :controller => 'events', :action => 'edit', :id => event %>
  <%= link_to 'Edit',  edit_event_path(e), :class => "btn btn-default" %>  
  <%#= link_to 'Delete', :controller => 'events', :action => 'destroy', :id => event %>
  <%= link_to 'Delete',  event_path(e), :method => :delete, :class => "btn btn-danger" %>  
  <!-- why method=>delete here?-->


  </td>
<% end %>
</table>
<%#= link_to 'New Event', :controller => 'events', :action => 'new' %>
<%= link_to 'New Event',new_event_path %>

<%= paginate @events %>

<%= link_to 'Atom feed', events_path(:format => :atom) %>
<div id="demo2">
test
</div>
<p>
<%= image_tag("test.png") %>
	<%= events_path %>
</p>
<h4>debug(@events)</h4>
<%= debug(@events) %>
<h4>--debug(@events[0])--</h4>
<%= debug(@events[0]) %>
