<ul>
<% @events.each do |e| %>
  <li>
 	  <%= e.name %>
  <%#= link_to 'Show', :controller => 'events', :action => 'show', :id => event %>
  <%= link_to 'Show', event_path(e) %>

  <%= link_to 'Get XML', event_path(e, :format => :xml) %>

  <%= link_to 'Get JSON', event_path(e, :format => :json) %>
  <%#= link_to 'Edit', :controller => 'events', :action => 'edit', :id => event %>
  <%= link_to 'Edit',  edit_event_path(e) %>  
  <%#= link_to 'Delete', :controller => 'events', :action => 'destroy', :id => event %>
  <%= link_to 'Delete',  event_path(e), :method => :delete %>  
  <!-- why method=>delete here?-->


  </li>
<% end %>
</ul>
<%#= link_to 'New Event', :controller => 'events', :action => 'new' %>
<%= link_to 'New Event',new_event_path %>

<%= paginate @events %>

<%= link_to 'Atom feed', events_path(:format => :atom) %>



<p>
	<%= events_path %>
</p>

<h4>debug(@events)</h4>
<%= debug(@events) %>
<h4>--debug(@events[0])--</h4>
<%= debug(@events[0]) %>
