<%= @event.name %>
<!-- below will try to find category, if not, give nil -->
<p>Category: <%= @event.category.try(:name) %><p>
<!-- below please see delegate in event.rb -->
<!-- <p>Category: <%#= @event.category.try(:name) %><p> -->
<ul>
<% @event.groups.each do |g|
%>
	<li><%= g.name %></li>
<%end%>
</ul>
<%= simple_format(@event.description) %>

<p>
<%#= link_to 'Back to index', :controller => 'events', :action => 'index' %>
<!-- target to index.html, use events_path -->
<%= link_to 'Back to index', events_path %>
</p>